html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    position: relative;
    font-family: sans-serif;
}
a {
    text-decoration: none;
}
.webview-fluid {
    display: block;
    width: 100%;
    height: 100%;
}
.webview-loading {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 2
}
.webview-frame{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1
}
.webview-loading img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hide {
    display: none;
}
.block {
    display: block;
}
